@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #f59e0b;
  --color-background: #f3f4f6;
  --color-text: #111827;

  --font-sans: Inter, system-ui, sans-serif;
  --font-heading: Lexend, system-ui, sans-serif;
}
